@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-bottom: 75px;
}

img.Mumble {
  height: auto;
  width: 45%;
}

div#image {
  display: grid;
  place-items: center;
  padding: 0px 0px 50px 0px;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 1em 0;
}

h1 {
  color: #ec646f;
  font-family: Roboto, sans-serif;
  text-decoration: bold;
  font-size: 36px !important;
  margin-top: 20px;
  fill: linear;
  text-align: center;
}

h4 {
  color: #8f8f8f;
  font-family: Roboto, sans-serif;
  text-decoration: bold;
  font-size: 18px;
  fill: linear;
  text-align: center;
}

/* general */

body {
  font-family: "shadows", sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

#header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a53eb;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #97e2e2;
}

#header .auth-options {
  height: 100%;
  display: flex;
}

#header .auth-options button {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0 1rem;
  background-color: rgb(50, 37, 199);
}

#header .auth-options button:hover {
  background: #6a53eb;
}
form.form {
  margin-left: 480px;
  align-content: center;
}

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 50%;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1.1rem;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  display: flex;
  border-radius: 8px;
  background-color: #ec666f;
  font-size: 1.1rem;
  color: white;
}

.form input:focus {
  border: 1px solid #df4343;
  box-shadow: inset 0px 0px 10px goldenrod;
  outline: none;
}

.error-notice {
  margin: 1rem 0rem;
  padding: 0.5rem;
  border: 1px solid rgb(207, 96, 96);
  border: radius 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border: radius 50%;
  background-color: #df4343;
  color: #ffffff;
}

.Register {
  margin-top: 50px;
  size: 20px;
  color: black;
  text-align: center;
}

.Login {
  margin-top: 50px;
  size: 20px;
  color: black;
  text-align: center;
}

div .centerForm {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.proDashMargin {
  margin-left: 32px;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  outline-width: 0;
}

.centerForm input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #d3d3d3;
  border-bottom-style: groove;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: -5px;
  border-radius: 3px;
}

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img.Mumble {
    height: auto;
    width: 45%;
  }

  div#image {
    display: grid;
    place-items: center;
    padding: 0px 0px 50px 0px;
  }

  ul {
    margin-left: 1.5rem;
    list-style: none;
  }

  button,
  input[type="submit"] {
    border: radius 8;
    background: none;
    color: unset;
    cursor: pointer;
  }

  h2,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin: 1em 0;
    /* margin-bottom: 100px !important; */
  }

  h1 {
    color: #ec646f;
    font-family: "Roboto", sans-serif;
    text-decoration: bold;
    font-size: 48px;
    /* margin-top: 150px !important;
    margin-bottom: 100px !important; */
    fill: linear;
    text-align: center;
  }

  h3 {
    color: #ec646f;
    font-family: Roboto, sans-serif;
    text-decoration: bold;
    font-size: 18px;
    fill: linear;
    text-align: center;
  }

  h4 {
    color: #8f8f8f;
    font-family: Roboto, sans-serif;
    text-decoration: bold;
    font-size: 18px;
    fill: linear;
    text-align: center;
  }
  /* general */

  body {
    font-family: "shadows", sans-serif;
  }

  .page {
    padding: 1rem;
  }

  .container {
    margin: 0 auto;
    max-width: 900px;
  }

  #header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a53eb;
  }

  #header .title {
    margin: 0;
    padding: 0 1rem;
    color: #97e2e2;
  }

  #header .auth-options {
    height: 100%;
    display: flex;
  }

  #header .auth-options button {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0 1rem;
    background-color: rgb(50, 37, 199);
  }

  #header .auth-options button:hover {
    background: #6a53eb;
  }

  .form label,
  .form input {
    display: block;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"] {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #df4343;
    border: radius 8;
    background-color: transparent;
    font-size: 1.1rem;
  }
  .form input:focus {
    border: 1px solid #df4343;
    box-shadow: inset 0px 0px 10px goldenrod;
    outline: none;
  }

  .form input [type="submit"] {
    padding: 0.3rem 0.5rem;
    border: 1px solid #6aa051;
    border: radius 8;
    background-color: black;
    font-size: 1.1rem;
  }

  .error-notice {
    margin: 1rem 0rem;
    padding: 0.5rem;
    border: 1px solid rgb(207, 96, 96);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
  }

  .error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
  }

  .Register {
    margin-top: 50px;
    size: 20px;
    color: black;
    text-align: center;
  }

  .Login {
    margin-top: 50px;
    size: 20px;
    color: black;
    text-align: center;
  }
  form.form {
    margin: 0;
  }

  div .centerForm p {
    margin: 0;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: bold;
  }
}
